# Dependencies
node_modules

# Build output
.next

# IDE
.idea
.vscode
*.swp
*.swo

# Debug
bun.lockb.debug

# Local env files
.env*.local
.env

# Testing
coverage

# Misc
.DS_Store
*.pem
Thumbs.db

# Archived code
src/app/_archived